* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./val-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 30px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

#yesBtn {
  background-color: rgb(57, 218, 60);
  color: white;
  z-index: 99;
}

#noBtn {
  background-color: rgb(224, 52, 52);
  color: white;
}
.end {
  width: 100%;
  text-align: center;
}
